<div class="login-container">
    <h1>Login</h1>
	<form [formGroup]="form" (ngSubmit)="login()">
        <label for="email"></label>
        <input type="text" name="email" placeholder="Email" formControlName="email" [ngStyle]="setInputBorderColor('email')">
        <ng-container *ngIf="form.get('email')?.touched">
            <p *ngIf="form.get('email')?.errors?.required">
                Email is required!
            </p>
            <p *ngIf="form.get('email')?.errors?.email">
                Email is invalid!
            </p>
        </ng-container>

        <label for="password"></label>
        <input type="password" name="password" placeholder="Password" formControlName="password" [ngStyle]="setInputBorderColor('password')">
        <ng-container *ngIf="form.get('password')?.touched">
            <p *ngIf="form.get('password')?.errors?.required">
                Password is required!
            </p>
        </ng-container>

        <input type="submit" value="Submit">

        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    </form>
    <p class="register-redirect">Don't have an account? <a routerLink="/register">Register</a></p>
</div>