<div class="container">
    <h1>About us:</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempora, temporibus iusto! Aliquam consequuntur officiis,
         excepturi modi itaque optio suscipit omnis, in eligendi 
         soluta accusamus quisquam quo porro totam ut ab?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempora, temporibus iusto! Aliquam consequuntur officiis,
         excepturi modi itaque optio suscipit omnis, in eligendi 
         soluta accusamus quisquam quo porro totam ut ab?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempora, temporibus iusto! Aliquam consequuntur officiis,
         excepturi modi itaque optio suscipit omnis, in eligendi 
         soluta accusamus quisquam quo porro totam ut ab?</p>
    <h2>Contacts:</h2>
    <ul>
        <li>Email: rent-a-car@email.com</li>
        <li>Number: 0881234567</li>
    </ul>
</div>
