.container {
    width: 100%;
    padding: 5em;
    background-color: rgb(26,26,26);
}

.car {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}

.car-image img {
    width: 80%;
    height: 40%;
    display: block;
    margin: auto;
}

.car-details {
    margin: 0 10em;
}

h2 {
    font-size: 2em;
    margin: .3em 0;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.info p {
    font-size: 1em;
}

.info span {
    font-size: 1.5em;
    margin-right: .7em;
}

.extras h3 {
    font-size: 2em;
}

.extras p {
    font-size: 1em;
    text-align: justify;
}

.price h1 {
    text-align: center;
}

.user-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-view form{
    display: flex;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.user-view .input {
    margin: 0 1em;
}

.user-view label {
    margin: 0 .5em;
}

.submit {
    background-color: rgb(26,26,26);
    color: white;
    padding: .2em 2em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button {
    margin: 1em 0 1em 0;
    padding: .5em;
    width: 8em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(26,26,26);
    color: white;
}

button:hover {
    box-shadow: 3px 3px 3px black;
}

.status span{
    color: green;
    margin-right: .3em;
}

.status{
    font-size: 1.5em;
    text-align: center;
}

.message {
    text-align: center;
    font-size: 1.5em;
}

.message a {
    font-style: italic;
    text-decoration: none;
    color: black;
}

.no-car p {
    font-size: 3em;
    text-align: center;
    color: red;
    margin-top: 3em;
}

input:focus {
    border: none;
}
