<div class="container">
    <p class="message" *ngIf="message">{{message}}</p>
    <h1>Add new car</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
        <div class="input input-select">
            <label for="location"></label>
            <select name="location" formControlName="location" [ngStyle]="setInputBorderColor(form,'location')">
                <option value="Sofia Airport Terminal 1">Sofia Airport Terminal 1</option>
                <option value="Sofia Airport Terminal 2">Sofia Airport Terminal 2</option>
                <option value="Plovdiv Airport">Plovdiv Airport</option>
                <option value="Burgas Airport">Burgas Airport</option>
                <option value="Varna Airport">Varna Airport</option>
            </select>
        </div>

        <div class="inputs">
            <div class="left">

                <div class="input">
                    <label for="brand"></label>
                    <input type="text" name="brand" placeholder="*Brand" formControlName="brand" [ngStyle]="setInputBorderColor(form,'brand')">
                </div>
                <div class="input">
                    <label for="model"></label>
                    <input type="text" name="model" placeholder="*Model" formControlName="model" [ngStyle]="setInputBorderColor(form,'model')">
                </div>
                <div class="input">
                    <label for="year"></label>
                    <input type="text" name="year" placeholder="*Year" formControlName="year" [ngStyle]="setInputBorderColor(form,'year')">
                </div>
                <div class="input">
                    <label for="seats"></label>
                    <input type="text" name="seats" placeholder="*Seats" formControlName="seats" [ngStyle]="setInputBorderColor(form,'seats')">
                </div>
                <div class="input">
                    <label for="doors"></label>
                    <input type="text" name="doors" placeholder="*Doors" formControlName="doors" [ngStyle]="setInputBorderColor(form,'doors')">
                </div>
            </div>
            <div class="right">

                <div class="input">
                    <label for="transmission"></label>
                    <input type="text" name="transmission" placeholder="*Transmission" formControlName="transmission" [ngStyle]="setInputBorderColor(form,'transmission')">
                </div>
                <div class="input">
                    <label for="fuel"></label>
                    <input type="text" name="fuel" placeholder="*Fuel" formControlName="fuel" [ngStyle]="setInputBorderColor(form,'fuel')">
                </div>
                <div class="input">
                    <label for="hp"></label>
                    <input type="text" name="hp" placeholder="*HP" formControlName="hp" [ngStyle]="setInputBorderColor(form,'hp')">
                </div>
                <div class="input">
                    <label for="price"></label>
                    <input type="text" name="price" placeholder="*Price" formControlName="price" [ngStyle]="setInputBorderColor(form,'price')">
                </div>
                <div class="input">
                    <label for="img"></label>
                    <input type="text" name="img" placeholder="*IMG" formControlName="img" [ngStyle]="setInputBorderColor(form,'img')">
                </div>
            </div>
        </div>

        <input type="submit" value="Submit" class="input-submit">
    </form>
</div>