:host {
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: .7em 0 .3em 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 1em 0;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

input {
    margin-top: .4em;
    padding: .3em;
}

input:focus {
    border: none;
}

.submit {
    width: 30%;
    padding: .5em 0;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: rgb(26,26,26);
    color: white;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: .6em;
    color: red;
    margin: 0;
    padding: 0;
}

.error-message {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.message {
    color: green;
    font-size: 1em;
    margin: 0;
    padding: 0;
}