<form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    <h1>Change password</h1>
    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
    <p class="message" *ngIf="message">{{message}}</p>
    <div class="inputs">
        
            <div class="input">
                <label for="oldPassword">Old password:</label>
                <input type="password" name="oldPassword" formControlName="oldPassword" [ngStyle]="setInputBorderColor(form, 'oldPassword')">
                <ng-container *ngIf="form.get('oldPassword')?.touched">
                    <p *ngIf="form.get('oldPassword')?.errors?.required">
                        Old password is required!
                    </p>
                    <p *ngIf="form.get('oldPassword')?.errors?.minlength">
                        Old password is invalid!
                    </p>
                </ng-container>
            </div>

            <div class="input">
                <label for="newPassword">New password:</label>
                <input type="password" name="password" formControlName="password" [ngStyle]="setInputBorderColor(form, 'password')">
                <ng-container *ngIf="form.get('password')?.touched">
                    <p *ngIf="form.get('password')?.errors?.required">
                        Password is required!
                    </p>
                    <p *ngIf="form.get('password')?.errors?.minlength">
                        Password must be at least 5 characters!
                    </p>
                </ng-container>
            </div>
        
            <div class="input">
                <label for="reNewPassword">Repeat new password:</label>
                <input type="password" name="rePassword" formControlName="rePassword" [ngStyle]="setInputBorderColor(form, 'rePassword')">
                <ng-container *ngIf="form.get('rePassword')?.touched">
                    <p *ngIf="form.get('rePassword')?.errors?.required">
                        Repeat password is required!
                    </p>
                    <p *ngIf="form.get('rePassword')?.errors?.notMatching">
                        Passwords are not matching!
                    </p>
                </ng-container>
            </div>
        
    </div>

    <input type="submit" value="Submit changes" class="submit">
</form>
