<div class="login-container">
    <h1>Search for a car</h1>
    <form #form="ngForm">
        <div class="input">
            <label for="location">Location:</label>
            <select name="location" ngModel>
                <option value="Sofia Airport Terminal 1">Sofia Airport Terminal 1</option>
                <option value="Sofia Airport Terminal 2">Sofia Airport Terminal 2</option>
                <option value="Plovdiv Airport">Plovdiv Airport</option>
                <option value="Burgas Airport">Burgas Airport</option>
                <option value="Varna Airport">Varna Airport</option>
            </select>
        </div>
        <div class="input">
            <label for="start-date">Pick up:</label>
            <input type="date" name="start-date" ngModel>
        </div>
        <div class="input">
            <label for="return-date">Return:</label>
            <input type="date" name="return-date" ngModel>
        </div>
        <div class="input">
            <label for="submit"></label>
            <input type="submit" value="Search" id="submit-btn">
        </div>

        {{form.value | json}}
    </form>
</div>