<div class="welcome-container">
    <h1>Welcome to our website</h1>
    <h2>Find the best cars here</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Eligendi voluptatibus, iure reprehenderit commodi impedit 
        delectus rem sint odit consequuntur alias! Exercitationem 
        natus repellat cumque porro labore et tempora quam facilis?</p>
    <a routerLink="/about">Learn more</a>   
</div>

<div class="cars-container">
    <div class="row-title">
        <h2>variety of cars</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="row-cars">
        <div class="car-box">
            <img src="../../assets/images/audi.jpg" alt="audi photo">
            <h4>audi</h4>
        </div>
        <div class="car-box">
            <img src="../../assets/images/bmw.jpg" alt="bmw photo">
            <h4>bmw</h4>
        </div>
        <div class="car-box">
            <img src="../../assets/images/merc.jpg" alt="mercedes photo">
            <h4>mercedes</h4>
        </div>
    </div>
    <div class="row-button">
        <a routerLink="/cars">Browse cars</a>
    </div>
</div>

<div class="choose-us-container">
    <h2>why choose us</h2>
    <div class="choose-box">
        <span>1</span>
        <p>First reason to choose us</p>
    </div>
    <div class="choose-box">
        <span>2</span>
        <p>Second reason to choose us</p>
    </div>
    <div class="choose-box">
        <span>3</span>
        <p>Third reason to choose us</p>
    </div>

</div>
